---
import Layout from "../components/BaseLayout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog", ({data}) => {
  return import.meta.env.PROD ? data.draft !== true : true;
}).then((posts) => posts.sort((a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate)).slice(0, 5));
export const LINKS = [
	{
		title: 'GitHub',
		url: 'https://github.com/IshanKBG',
	},
	{
		title: 'Twitter',
		url: 'https://x.com/IshanKBG'
	},
	{
		title: 'LinkedIn',
		url: 'https://linkedin.com/IshanKBG'
	},
	{
		title: 'Email',
		url: 'mailto:me@ishankbg.dev'
	},
	{
		title: 'RSS',
		url: '/feed.xml'
	}
]

export const SKILLS = [
	'JavaScript',
	'TypeScript',
	'Node.js',
	'React',
	'Docker',
	'Rust',
	'Python',
	'C',
	'C++',
	"Linux",
	"Go",
	'PostgreSQL',
	'MySQL',
]
---

<Layout
	title="Home"
	description="My Personal space where I can share pieces of my mind."
	url={Astro.site}
>

		<section class="flex flex-col gap-4 mb-4">
			<p class="text-gray-800 dark:text-gray-200 text-4xl font-bold">
				Ishan Jaiswal
			</p>

			<p class="text-gray-600 dark:text-gray-300">
				Passionate Computer Programmer
			</p>
		</section>
<section class="flex flex-col gap-4" aria-label="Recent Articles">
	<h2 class="text-gray-700 dark:text-gray-100 text-2xl font-bold">
		Recent Articles
	</h2>
	<ul class="flex flex-col gap-2 text-lg list-disc ps-8 capitalize align-middle">
		{allPosts.map((blog)=> (
			<li class="text-gray-800 dark:text-gray-200 dark:subpixel-antialiased transition-all group">
			    <p class="hover:text-blue-800 dark:hover:text-blue-500 duration-300">
				<time class="text-gray-600 dark:text-amber-200 group-hover:text-amber-600 dark:group-hover:text-amber-500" datetime={ new Date(blog.data.pubDate).toISOString()}>{ new Date(blog.data.pubDate).toLocaleDateString() }</time> -
				<a class="group-hover:underline group-hover:decoration-2 group-hover:decoration-blue-500 dark:group-hover:decoration-blue-400" href={`/archive/${blog.slug}`} data-astro-prefetch>
					{ blog.data.title }
				</a>
				</p>
			</li>
		))}
	</ul>
</section>
	<section class="flex flex-col gap-4" aria-label="Quick Links">
		<h2 class="text-gray-700 dark:text-gray-100 text-2xl font-bold">
			Quick Links
		</h2>

		<div class="flex flex-col subpixel-antialiased text-lg ps-8">
			{LINKS.map((link)=> (
				<ul class="transition-all duration-300 list-disc">
					<li>
					<a class="text-orange-900 dark:text-amber-200 hover:underline hover:decoration-2 hover:decoration-blue-500 dark:hover:decoration-blue-400" href={link.url}>
						{ link.title }
						</a>
					</li>
				</ul>
			))}

		</div>
	</>
	<section class="flex flex-col gap-4">
		<h2 class="text-gray-800 dark:text-gray-100 text-2xl font-bold">
			Skills
		</h2>
		<div class="flex flex-wrap gap-4 text-orange-900 dark:text-amber-400 text-lg">
			{SKILLS.map((skill)=> (
				<div class="p-2 rounded-md hover:bg-gray-800">
					{skill}
				</div>
			))}
		</div>
	</section>
</Layout>
